* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section{
    max-width: 300px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem;
}

img {
    max-width: 120px;
    min-width: 90px;
}

h1 {
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: xx-large;
}

p {
    text-align: left;
    line-height: 22px;
    color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
}

button {
    padding: 1rem;
    border-radius: 2rem;
    border-style: none;
    cursor: pointer;
}

.img {
    text-align: left;
    padding-left: 1rem;
}

.sedan{
    background-color: hsl(31, 77%, 52%);
    border-radius: 0.5rem 0 0 0.5rem;
}

.suv{
    background-color: hsl(184, 100%, 22%);
}

.luxur {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0.5rem 0.5rem 0;
}

.titulo {
    display: flex;
    justify-content: left;
}
